
body {
    margin: 0px;
}

#toolbar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
}

#toolbar li {
    list-style-type: none;
    padding-top: 0px;
    margin: 0px;
    display: inline;

}

#toolbar ul {
    padding: 0px;
}

#logo {
    color: white;
    position: absolute;
    right: 10%;
    top: -30px;
    font-size: 30px;
}

a.link-button {
    background-color: black;
    color: white;
    font-weight: 500;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1px;
}

a.user-button {
    position: relative;
    float:right;
    background-color: black;
    color: white;
    font-weight: 500;
    padding-right: 25px;
}

a.link-button:hover {
    background-color: black;
    color: darkgray;
}

a, a:visited {
    text-decoration: none;
}

#child-content {
    padding-top: 60px;
}

