body{
    background-color: orange;
}

#submit-button-container {

}

#create-new-user-table {
    padding-left: 5%;
}

#new-user-table-div {

}

.submit-button {
    height: 200%;
    width: 100%;
}

.error-label {
    color: red;
}

#table-header {
    padding-left: 15%;
}

td {
    padding-top: 20px;
    padding-right: 40px;
}

td p {
    padding-bottom: 1px;
    text-align: right;
}
