body {
    background-color: orange;
}

#title-row {
    
    color:black;
}



#title {
    text-align:center;
}

.profile-label {
    height:200%;
    line-height:600%;
    text-align:center;
    font-size:x-large;
    color: black;
    padding-left:800px;
    padding-right:800px;
    margin-top:50px;
    margin-right:200px;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}