body{
    background-color: orange;
}

.update-value {
   display:contents;
}

.submit-update {
    
}

.profile-info-table {
    margin-left: 1000px;
    padding-left: 1000px;
    margin-right: 500px;
    padding-right: 500px;
}
.asp-user-profile-label {
    margin-left:120px;
    padding-top:1px;
 
    font-size:x-large;
    color: black;
}

td {
   margin-right:1000px;
}

